<!DOCTYPE html>
<html>
    <head>
        <title>이것은 테스트 입니다.</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/views/index.css" />
    </head>
    <body>
        <h1 id="title" class="btn">Hello World !!</h1>
        <script src="/views/index.js"></script>

        <div class="js-clock">
            <h1 class="js-title"></h1>
        </div>
        <script src="/views/clock.js"></script>

        <form class="js-form form">
            <input type="text" class="js-name" placeholder="이름을 입력하여 주십시오.">
        </form>
        <h4 class="js-greetings greetings"></h4>
        <script src="/views/greeting.js"></script>

        <form class="js-toDoForm">
            <input type="text" placeholder="TODO 내용을 적으시요">
        </form>
        <ul class="js-toDoList">

        </ul>
        <script src="/views/todo.js"></script>

        <script src="/views/bg.js"></script>

        <script src="/views/weather.js"></script>

    </body>

</html>