<!DOCTYPE html>
<html>
    <head>
        <title>
            이것은 테스트 입니다.
        </title>
        <link rel="stylesheet" href="/index.css" />
    </head>
    <body>
        <h1 id="title" class="btn">Hello World !!</h1>
        <script src="/index.js"></script>

        <div class="js-clock">
            <h1 class="js-title"></h1>
        </div>
        <script src="/clock.js"></script>

        <form class="js-form form">
            <input type="text" class="js-name" placeholder="이름을 입력하여 주십시오.">
        </form>
        <h4 class="js-greetings greetings"></h4>
        <script src="/greeting.js"></script>

    </body>

</html>